{% extends "base.html" %}
{% block content %}
    <h1>Страница для проверки списка проекта на pep8</h1>
    <div class=form-group>
    <form method='POST'>


          <label>Список ссылок на репозитории:<br>
            <textarea name="list_reps" rows="30" cols="100"></textarea>
          </label>

        <button type=submit value='Submit'>Отправить на проверку</button>
    </form>
    </div>
    <div class="result">
        {% if request.method == 'POST' %}
            <h2>Результаты проверки:</h2>
            <table>
                <tr>
                    <th>Репозиторий</th>
                    <th>Статус</th>
                </tr>
                {% for repo, status in results %}
                <tr>
                    <td>{{ repo }}</td>
                    <td>{{ status }}</td>
                </tr>
                {% endfor %}
            </table>
            <Input type="button" value="Проверить на pep8" onclick="location.href ='chekerpep/results'">
        {% endif %}
{% endblock content %}
