.navigation {
    background-color: #ff8543;
    overflow: hidden;
}
.button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    background: none;
    cursor: pointer;
}
.button:hover {
    background-color: #c5622c;
    color: black;
}
body {
    font-family: Arial, sans-serif;
    margin: 2;
    padding: 2;
    background: #f6f6f6;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin: 2;
    background: white;
    font-size: 16px;
}

.form-group {
    border: 1px solid #ccc;
    position: absolute;
    width: 45%;
    top: 5%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #ffd5be;
}
.result {
    width: 45%;
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    position: absolute;
    left: 50%;
    top: 5%;
}
.result.all-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    width: 100%;
}
