.navigation {
    background-color: #ff8543;
    overflow: hidden;
}
.button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    background: none;
    cursor: pointer;
}
.button:hover {
    background-color: #c5622c;
    color: black;
}
body {
    font-family: Arial, sans-serif;
    margin: 2;
    padding: 2;
    background: #f6f6f6;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin: 2;
    background: white;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #ffd5be;
    width: fit-content;
}
